body{
    background-color: #e1e1e1;
    text-align: center;
    margin: 0 auto;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
h1{
    clear: both;
}
.navigation{
    width: 60%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
