body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.title{
    border-bottom: 1px solid #ccc;
}
.title p{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}
.chat-body{
    height: 75vh;
    overflow-y: scroll;
    background-color: #eee;
}
.chat-message{
    background-color: #bbb;
    padding:1px 0px;
}
.chat-message textarea{
    width: 100%;
    height: 20vh;
    font-size: 28px;
}
