body{
    background: #E0E0E0;
    text-align: center;
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
}
.tpad-10{
    padding-top: 10px;
}
#key{
    width: 60%;
    margin: 10px;
    text-align: center;
}
