*{
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.side-menu{
    background-color: #9384d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

.row{
    width: 99%;
    text-align: center;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
    padding: 10px 0px;
}

table{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
